@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("./assets/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  padding: 20px;
}

/* .tooltip-arrow::before {
  background-color: #2563eb; 
} */
 .tooltip .w-fit{
  width: 100% !important;
 }
